// ============ SYS ===============
IO_LOC "io_clk" H11;  // 27MHz
IO_PORT "io_clk" IO_TYPE=LVCMOS33;
IO_LOC "io_rstn" C7;
IO_PORT "io_rstn" IO_TYPE=SSTL15;

// ============ JTAG ===============
// IO_LOC "io_jtag_tdi" T8;
// IO_PORT "io_jtag_tdi" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
// IO_LOC "io_jtag_tdo" P8;
// IO_PORT "io_jtag_tdo" IO_TYPE=LVCMOS18 PULL_MODE=NONE DRIVE=8;
// IO_LOC "io_jtag_tck" P9;
// IO_PORT "io_jtag_tck" IO_TYPE=LVCMOS18 PULL_MODE=NONE;
// IO_LOC "io_jtag_tms" T9;
// IO_PORT "io_jtag_tms" IO_TYPE=LVCMOS18 PULL_MODE=NONE;

//============ HDMI ===============
// IO_LOC "io_hdmi_O_tmds_clk_p" G16,H15;
// IO_PORT "io_hdmi_O_tmds_clk_p" PULL_MODE=NONE DRIVE=3.5;
// IO_LOC "io_hdmi_O_tmds_data_p[0]" H14,H16;
// IO_PORT "io_hdmi_O_tmds_data_p[0]" PULL_MODE=NONE DRIVE=3.5;
// IO_LOC "io_hdmi_O_tmds_data_p[1]" J15,K16;
// IO_PORT "io_hdmi_O_tmds_data_p[1]" PULL_MODE=NONE DRIVE=3.5;
// IO_LOC "io_hdmi_O_tmds_data_p[2]" K14,K15;
// IO_PORT "io_hdmi_O_tmds_data_p[2]" PULL_MODE=NONE DRIVE=3.5;

// ============ LCD ===============
IO_LOC "io_lcdclk" R9;
IO_LOC "io_dvti_hs" A15;
IO_LOC "io_dvti_vs" D14;
IO_LOC "io_dvti_de" E15;
IO_PORT "io_lcdclk" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_hs" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_vs" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_de" IO_TYPE=LVCMOS33;
IO_LOC "io_dvti_data[0]" L9;
IO_LOC "io_dvti_data[1]" N8;
IO_LOC "io_dvti_data[2]" N9;
IO_LOC "io_dvti_data[3]" N7;
IO_LOC "io_dvti_data[4]" N6;
IO_LOC "io_dvti_data[5]" D11;
IO_LOC "io_dvti_data[6]" A11;
IO_LOC "io_dvti_data[7]" B11;
IO_LOC "io_dvti_data[8]" P7;
IO_LOC "io_dvti_data[9]" R7;
IO_LOC "io_dvti_data[10]" D10;
IO_LOC "io_dvti_data[11]" B12;
IO_LOC "io_dvti_data[12]" C12;
IO_LOC "io_dvti_data[13]" B13;
IO_LOC "io_dvti_data[14]" A14;
IO_LOC "io_dvti_data[15]" B14;
IO_PORT "io_dvti_data[0]" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_data[1]" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_data[2]" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_data[3]" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_data[4]" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_data[5]" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_data[6]" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_data[7]" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_data[8]" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_data[9]" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_data[10]" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_data[11]" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_data[12]" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_data[13]" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_data[14]" IO_TYPE=LVCMOS33;
IO_PORT "io_dvti_data[15]" IO_TYPE=LVCMOS33;

// ============ io_gpio ===============
// IO_LOC "io_gpio[0]" L16;  // LED1
// IO_PORT "io_gpio[0]" IO_TYPE=LVCMOS33;
// IO_LOC "io_gpio[1]" L14;  // LED2
// IO_PORT "io_gpio[1]" IO_TYPE=LVCMOS33;
// IO_LOC "io_gpio[2]" N14;  // LED3
// IO_PORT "io_gpio[2]" IO_TYPE=LVCMOS33;
// IO_LOC "io_gpio[3]" N16;  // LED4
// IO_PORT "io_gpio[3]" IO_TYPE=LVCMOS33;
// IO_LOC "io_gpio[4]" T10;  // BUTTOM1
// IO_PORT "io_gpio[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[5]" T3 ;  // BUTTOM2
// IO_PORT "io_gpio[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[6]" T2 ;  // BUTTOM3
// IO_PORT "io_gpio[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[7]" D7 ;  // BUTTOM4
// IO_PORT "io_gpio[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[8]" F12;  // lcd_clk
// IO_PORT "io_gpio[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[9]" L15;  // lcd_data
// IO_PORT "io_gpio[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[10]" C16;  // lcd_cs
// IO_PORT "io_gpio[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[11]" J13;  // lcd_rs
// IO_PORT "io_gpio[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[12]" P12;  // lcd_bl
// IO_PORT "io_gpio[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[13]" G13;  // lcd_rst
// IO_PORT "io_gpio[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[14]" A13;  // LED5
// IO_PORT "io_gpio[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[15]" C13;  // LED6
// IO_PORT "io_gpio[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;


// ============ io_gpio ===============
IO_LOC "io_uart_tx" M11;  // UART_TX
IO_PORT "io_uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
// IO_LOC "io_gpio[16]" M11;  // UART_TX
// IO_PORT "io_gpio[16]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
// IO_LOC "io_gpio[17]" T13;  // UART_RX
// IO_PORT "io_gpio[17]" IO_TYPE=LVCMOS33;
// IO_LOC "io_gpio[18]" N9;
// IO_PORT "io_gpio[18]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[19]" N7;
// IO_PORT "io_gpio[19]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[20]" N6;
// IO_PORT "io_gpio[20]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[21]" D11;
// IO_PORT "io_gpio[21]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[22]" A11;
// IO_PORT "io_gpio[22]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[23]" B11;
// IO_PORT "io_gpio[23]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[24]" B12;
// IO_PORT "io_gpio[24]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[25]" C12;
// IO_PORT "io_gpio[25]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[26]" B13;
// IO_PORT "io_gpio[26]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[27]" A14;
// IO_PORT "io_gpio[27]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[28]" B14;
// IO_PORT "io_gpio[28]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[29]" A15;
// IO_PORT "io_gpio[29]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[30]" D14;
// IO_PORT "io_gpio[30]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// IO_LOC "io_gpio[31]" E15;
// IO_PORT "io_gpio[31]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;


// ============ DDR ===============
IO_LOC "io_sdram_O_ddr_addr[13]" C8;
IO_PORT "io_sdram_O_ddr_addr[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_addr[12]" A3;
IO_PORT "io_sdram_O_ddr_addr[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_addr[11]" B7;
IO_PORT "io_sdram_O_ddr_addr[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_addr[10]" K3;
IO_PORT "io_sdram_O_ddr_addr[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_addr[9]" F9;
IO_PORT "io_sdram_O_ddr_addr[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_addr[8]" A5;
IO_PORT "io_sdram_O_ddr_addr[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_addr[7]" D8;
IO_PORT "io_sdram_O_ddr_addr[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_addr[6]" B1;
IO_PORT "io_sdram_O_ddr_addr[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_addr[5]" E6;
IO_PORT "io_sdram_O_ddr_addr[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_addr[4]" C4;
IO_PORT "io_sdram_O_ddr_addr[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_addr[3]" F8;
IO_PORT "io_sdram_O_ddr_addr[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_addr[2]" D6;
IO_PORT "io_sdram_O_ddr_addr[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_addr[1]" A4;
IO_PORT "io_sdram_O_ddr_addr[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_addr[0]" F7;
IO_PORT "io_sdram_O_ddr_addr[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_ba[2]" H5;
IO_PORT "io_sdram_O_ddr_ba[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_ba[1]" D3;
IO_PORT "io_sdram_O_ddr_ba[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_ba[0]" H4;
IO_PORT "io_sdram_O_ddr_ba[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_cs_n" P5;
IO_PORT "io_sdram_O_ddr_cs_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_ras_n" R4;
IO_PORT "io_sdram_O_ddr_ras_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_cas_n" R6;
IO_PORT "io_sdram_O_ddr_cas_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_we_n" L2;
IO_PORT "io_sdram_O_ddr_we_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_clk" J1,J3;
IO_PORT "io_sdram_O_ddr_clk" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_cke" J2;
IO_PORT "io_sdram_O_ddr_cke" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_odt" R3;
IO_PORT "io_sdram_O_ddr_odt" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_reset_n" B9;
IO_PORT "io_sdram_O_ddr_reset_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_dqm[1]" K5;
IO_PORT "io_sdram_O_ddr_dqm[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_O_ddr_dqm[0]" G1;
IO_PORT "io_sdram_O_ddr_dqm[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dq[15]" M2;
IO_PORT "io_sdram_IO_ddr_dq[15]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dq[14]" R1;
IO_PORT "io_sdram_IO_ddr_dq[14]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dq[13]" H3;
IO_PORT "io_sdram_IO_ddr_dq[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dq[12]" P4;
IO_PORT "io_sdram_IO_ddr_dq[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dq[11]" L1;
IO_PORT "io_sdram_IO_ddr_dq[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dq[10]" N2;
IO_PORT "io_sdram_IO_ddr_dq[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dq[9]" K4;
IO_PORT "io_sdram_IO_ddr_dq[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dq[8]" M3;
IO_PORT "io_sdram_IO_ddr_dq[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dq[7]" B3;
IO_PORT "io_sdram_IO_ddr_dq[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dq[6]" E1;
IO_PORT "io_sdram_IO_ddr_dq[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dq[5]" C1;
IO_PORT "io_sdram_IO_ddr_dq[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dq[4]" E2;
IO_PORT "io_sdram_IO_ddr_dq[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dq[3]" F3;
IO_PORT "io_sdram_IO_ddr_dq[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dq[2]" F4;
IO_PORT "io_sdram_IO_ddr_dq[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dq[1]" F5;
IO_PORT "io_sdram_IO_ddr_dq[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dq[0]" G5;
IO_PORT "io_sdram_IO_ddr_dq[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dqs[1]" J5,K6;
IO_PORT "io_sdram_IO_ddr_dqs[1]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "io_sdram_IO_ddr_dqs[0]" G2,G3;
IO_PORT "io_sdram_IO_ddr_dqs[0]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
